<h2>
  Pi Commander for Raspberry Pi by Ilkka Pärssinen
</h2>

<h2>Features of the commander</h2>
<ul>
  <li>Raspberry Pi commander</li>
  <li>Shows information of multiple Raspberry Pi projects:</li>
  <li>Boat, Camera and jigging projects</li>
  <li>4G connection to internet</li>
</ul>

<h2>Server features</h2>
<ul>
  <li>Node.js server for web sockets</li>
  <li>Server can serve multiple boats</li>
  <li>Simple pub/sub system for passing information between boat and client(s)</li>
  <li>Serves the web ui html and javascript files</li>
  <li>Amazon EC2</li>
</ul>

<h2>Web client features</h2>
<ul>
  <li>Connects to server via web sockets</li>
  <li>Angular 2</li>
  <li>Depending of connected project on Raspberry Pi</li>
  <li>Display motion JPEG feed (if Raspberry Pi has camera)</li>
  <li>Show and send chat messages</li>
  <li>Display map if Pi sends GPS coordinates</li>
  <li>Show controls for boat, camera or jigging device</li>
</ul>
